html {
    background-color: #e5e5e5;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #404040;
    width: 100vw;
}

a {
    color: black;
}

body {
    background-image: url('Swee-tea2.jpg');
    background-size: cover;
}

/*nav styling*/

.nav, .footer {
    width: 100%;
    height: 100%;
    background-color: #fafafa;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    
}

.nav {
    z-index: 2;
}

.footer {
    display: flex;
    align-items: center;
}

.navList {
    width: 500px;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.nav li {
    height: 100%;
}

.nav button {
    height: 100%;
    width: 100px;
    background-color: #166534;
    color: #fafafa;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
}
/*end nav styling*/

/*Home Tab Styling*/

h1 {
    height: 3rem;
    width: 500px;
    color: #166534;
}

#content {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 2rem 5rem 1fr 2rem;
    gap: 3rem;
    align-items: center;
    justify-items: center;
}



.headline {
    font-size: 4rem;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*to compensate for grid gap pushing items further away due to image height*/
    margin: -2rem 0 -2rem 0;
}

.bobaIcon {
    width: 100px;
    height:100%;
}

.storeName {
    display: flex;
    justify-content: center;
    
}

.hours, .location, .description {
    width: 60%;
    display: grid;
    grid-template-rows: repeat(1fr, 7);
    gap: 10px;
    justify-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    border: 4px #166534 solid;
    border-radius: 20px;
    padding: 2rem;
}

.hours p, .location p{
    font-size: 1rem;
    font-weight: 500;
}

.description {
    font-size: 1rem;
    font-weight: 300;
    font-style: italic;
    display: flex;
    flex-direction: column;
}

.restrDescr {
    font-weight: 500;
    font-style: normal;
    margin-bottom: 2rem;
    font-size: 1.1rem;
}

.quoteAuthor {
    align-self: flex-end;
    font-weight: 400;
    font-style: normal;
}

.descrWrapper {
    width: 60%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    padding: 2rem;
    border-radius: 20px;
    background-color: rgba(250,250,250,0.9);
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.2), -5px -5px 5px rgb(0, 0, 0, 0.2);
}


/*End Home Tab Styling*/

/*Menu Tab Styling*/
.menuItem {
    display: flex;
    justify-content: center;
}

.menuItem > img {
    width: 300px;
    height: auto;
}


.menuWrapper img {
    width: 300px;
    height: auto;
}

/*End Menu Tab Styling*/
